* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
ul {
    display: flex;
    justify-content: space-around;
}
li {
    display: flex;
}
li a {
    text-decoration: none;
    color: white;
    transition: 1s;
}
li a:hover {
    color: rgb(172, 250, 246);
}
a {
    text-decoration: none;
    color: rgb(30, 101, 103);
}
.container-main {
    display: flex;
    padding: 30px 50px;
}
.container-main2 {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 101, 103);
}
header {
    width: 70%;
    padding: 30px 0;
}
.name-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 100px;
}
.contacts {
    display: flex;
    flex-direction: column;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}
main {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    background-color: aliceblue;
}
footer {
    display: flex;
    height: 20%;
    background-color: aliceblue;
}

h1 {
    font-size: 40px;
    animation-name: animation-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes animation-color {
    from {
        color: rgb(79, 204, 183);
    }
    50% {
        color: rgb(36, 141, 148);
    }
    to {
        color: rgb(83, 207, 197);
    }
}

h2 {
    color: rgb(30, 101, 103);
}
h3 {
    color: rgb(30, 101, 103);
    padding: 10px 0;
    font-style: italic;
}
hr {
    background-color: rgb(177, 199, 216);
    border: none;
    height: 1px;
}
footer {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding-top: 30px;
}
.link-me {
    text-decoration: none;
    color: black;
    transition: 1s;
}
.link-me:hover {
    color: rgb(172, 250, 246);
}
.me {
    width: 300px;
    height: 300px;
}
.container-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 50px;
}
.icon-rs {
    height: 30px;
}

@media (max-width: 960px) {
    .me {
        width: 200px;
        height: 200px;
    }
    h1 {
        font-size: 30px;
    }
    .name-contacts {
        padding: 0 50px;
    }
}

@media (max-width: 750px) {
    * {
        font-size: 12px;
    }
    .name-contacts {
        padding: 0 20px;
    }
    h1 {
        font-size: 20px;
    }
    .icon-rs {
        height: 20px;
    }
    .me {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 570px) {
    * {
        font-size: 10px;
    }
    .name-contacts {
        padding: 0 15px;
    }
    h1 {
        font-size: 15px;
    }
    .icon-rs {
        height: 15px;
    }
    .me {
        width: 120px;
        height: 120px;
    }
}
@media (max-width: 480px) {
    .container-main {
        flex-direction: column;
    }
    .name-contacts {
        padding: 10px 0;
    }
    .icon-rs {
        height: 10px;
    }
    .container-main2 {
        padding: 0 20px;
    }
    .container-main {
        padding: 30px 20px;
    }
    .container-footer {
        padding: 10px 20px;
    }
}
@media (max-width: 360px) {
    .me {
        width: 100px;
        height: 100px;
    }
    ul {
        flex-wrap: wrap;
    }
    header {
        width: 80%;
    }
    main {
        width: 80%;
    }
    footer {
        width: 80%;
    }
    .container-main2 {
        padding: 0 20px;
    }
    .container-main {
        padding: 30px 20px;
    }
    .container-footer {
        padding: 10px 20px;
    }
}
@media (max-width: 320px) {
    header {
        width: 90%;
    }
    main {
        width: 90%;
    }
    footer {
        width: 90%;
    }
    .container-main2 {
        padding: 0 20px;
    }
    .container-main {
        padding: 30px 20px;
    }
    .container-footer {
        padding: 10px 20px;
    }
}
@media (max-width: 270px) {
    * {
        font-size: 8px;
    }
    .icon-rs {
        height: 8px;
    }
    .container-main2 {
        padding: 0 20px;
    }
    .container-main {
        padding: 30px 20px;
    }
    .container-footer {
        padding: 10px 20px;
    }
}